.circadian {
    display: flex;
    height: 70px;
    &-seperatorBlock {
        width: 30px;
        display: flex;
        position: relative;
        align-items: flex-end;
        justify-content: center;
    }
}

.seperator {
    height: 32px;
    width: 3px !important;
    transition: height 0.3s ease, background-color 0.3s ease;
    background-color: var(--secondary-color);
}

.modeImage {
    top: -55px;
    width: 45px;
    height: 45px;
    padding: 10px;
    border-radius: 50%;
    position: absolute;
    background-color: var(--highlight-color);
}