.works {
    padding: 2rem;
    color: #333;

    .title {
        color: var(--secondary-color);
    }

    .project-card {
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        padding: 1.5rem;
        width: 300px;
        text-align: center;
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        &:hover {
        transform: translateY(-5px);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
        }

        .tech-stack {
        font-size: 0.875rem;
        color: #888;
        margin-bottom: 1rem;
        }

        button {
        background-color: var(--secondary-color);
        color: #fff;
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 4px;
        cursor: pointer;
        margin: 0.25rem;

        &:hover {
            background-color:  var(--primary-color);
        }
        }
    }
}
  