.pdf-div {
    .react-pdf__Document {
        .react-pdf__Page {
            display: flex;
            justify-content: center;
            background-color: unset !important;
            &__canvas {
                width: 65% !important;
                height: auto !important;
                border-radius: 15px;
            }
        }
    }
}