.pdf-div {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    font-size: 18px;
    .react-pdf__Document {
        .react-pdf__Page {
            display: flex;
            justify-content: center;
            background-color: unset !important;
            &__canvas {
                width: 65% !important;
                height: auto !important;
                border-radius: 15px;
                background: var(--light-neutral);
                cursor: pointer;
            }
        }
    }
}
.mwebPdf {
    justify-content: unset;
    align-items: unset;
    padding-top: 100px;
    .react-pdf__Document {
        .react-pdf__Page {
            &__canvas {
                width: 100% !important;
            }
        }
    }
}